* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-size: 0.16rem;
}

ul {
    list-style: none;
}
a{
	text-decoration: none;
}
.clearfix::after,
.clearfix::before {
    content: "";
    display: block;
    clear: both;
}
/*头部部分*/
header{
	height: 0.55rem;
	width: 3.8rem;
	line-height: 0.55rem;
	background-color: #000;
}
header .logo{
	float: left;
	color: #fff;
	height: 100%;
	font-size: 0.17rem;
	margin: 0 0.2rem;
}
header .logo i{
	font-size: 0.35rem;
	vertical-align: middle;
}
header .kehu{
	height: 100%;
	margin: 0 0.2rem;
	float: right;
	color: #fff;
}
header span .iconfont{
	font-size: 0.25rem;
}
/*广告*/

.swiper-container{
	width: 3.8rem;
	height: 1.6rem;
}
.swiper-slide img{
	width: 3.8rem;
	height: 1.6rem;
	float: left;
}
.swiper-slide div{	 
    color: #fff;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 28.75%;
}
.swiper-slide h2{
	font-size: 0.22rem;
	font-weight: 400;
	margin-bottom: 0.1rem;
}
.swiper-slide h2 p{
	line-height: 0.22rem;
	font-size: 0.14rem;
}
/*广告下*/
.bannerx {
    padding: 0.1rem 0.17rem 0.1rem 0.54rem;
    height: 0.35rem;
    border-bottom: 1px solid #e5e5e5;
	background-color: #f7f8fa;
    line-height: 0.35rem;
}
.bannerx a{
	font-size: 0.14rem;
	color: #333;
}
/*我的云产品*/
.yun{
	padding-top: 0.3rem;
}
.yun>h3{
	font-size: 0.2rem;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e5e5e5;
}

.yun .title .top {
	height: 0.42rem;
	line-height: 0.42rem;
	padding: 0.1rem 0.17rem 0.1rem 0.54rem;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.yun .title .top img{
	width: 0.32rem;
	height: 0.32rem;
	position: absolute;
	top: 0.15rem;
	left:0.1rem;
}
.yun .title .list {
	padding: 10px 0;
    background-color: #f7f8fa;
    border-bottom: 1px solid #e5e5e5;
}
.yun .title .list li{
	margin-bottom: 0;
    padding: 0.1rem 0.15rem;
 
    }
.yun .title .list li h3{
	font-size: 0.14rem;
	font-weight: 400;
}
.yun .title .list li h3 i{
	display: inline-block;
    position: relative;
    top: -1px;
    box-sizing: border-box;
    padding: 0 2px;
    margin-left: 10px;
    min-width: 0.32rem;
    border: 1px solid #f60;
    font-size: 0.12rem;
    line-height: 0.14rem;
    color: #f60;
    text-align: center;
    font-style: normal;
}
.yun .title .list li div{
	font-size: 0.12rem;
}
/*精选解决方案*/
.jing{
	padding-top: 0.3rem;
}
.jing>h3{
	font-size: 0.2rem;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e5e5e5;
}

.jing .title .top {
	height: 0.42rem;
	line-height: 0.42rem;
	padding: 0.1rem 0.17rem 0.1rem 0.2rem;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.jing .title .bottom{
	padding: 0.1rem 0;
    background-color: #f7f8fa;
    border-bottom: 1px solid #e5e5e5;
}
.jing .title .bottom .zi{
	font-size: 0.14rem;
	padding: 0.1rem 0.2rem 0;
    color: #333;
}
.jing .title .bottom .zi a{
	    color: #00a4ff;
	    font-size: 0.14rem;
}
.jing .title .bottom .tu{
	padding: 0.2rem 0.1rem 0;
}
.jing .title .bottom .tu img{
	width: 30%;
	height: auto;
}
/*行业标杆客户*/
.hangye{
	padding-top: 0.3rem;
}
.hangye>h3{
	font-size: 0.2rem;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e5e5e5;
}
.hangye .top ul{
	padding: 0 0.15rem;
}
.hangye .top li{
	float: left;
	width: 50%;
	height: 0.45rem;
	text-align: center;
	line-height: 0.45rem;
	cursor: pointer;
	border-bottom: 2px solid #fff;

}
.hangye .bottom{
	    padding: 0.35rem 0 0.05rem;
	    border-bottom: 1px solid #e5e5e5;
}
.hangye .bottom img{
	width: 32.3333333333%;
	height: auto;
	box-sizing: border-box;
    padding: 0 0.05rem;
    margin-bottom: 0.3rem;
}
/*全球基础设施*/
.quanqiu{
	padding-top: 0.3rem;
}
.quanqiu>h3{
	font-size: 0.2rem;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e5e5e5;
}
.quanqiu .ditu{
	background-color: #000;
	width: 3.8rem;
	height: auto;
}
.quanqiu .ditu img{
	width: 100%;
	height: 100%;
}
.quanqiu .zi{
	padding: 0.2rem 0.15rem;
}
.quanqiu .zi h3{
	margin-bottom: 0.12rem;
    color: #000;
    font-weight: 700;
}
.quanqiu .zi li{
	font-size: 0.14rem;
}
.quanqiu .zi li span{
	margin-right: 0.15rem;
}
/*开发者*/
.kaifazhe{
	padding-top: 0.3rem;
}
.kaifazhe>h3{
	font-size: 0.2rem;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e5e5e5;
}
.kaifazhe .title .top {
	height: 0.42rem;
	line-height: 0.42rem;
	padding: 0.1rem 0.17rem 0.1rem 0.2rem;
	border-bottom: 1px solid #e5e5e5;
	position: relative;
}
.kaifazhe .title .top .xx{
	color: #555;
	font-size: 0.3rem;
	vertical-align: middle;
}
.kaifazhe .title .bottom{
	padding: 0.08rem 0;
    background-color: #F7F8FA;
    border-bottom: 1px solid #e5e5e5;
}
.kaifazhe .title .bottom p{
	font-size: 0.14rem;
	    padding: 0.07rem 0.2rem;
}
/*安全合规的认证保证*/
.anquan{
	padding-top: 0.3rem;
}
.anquan>h3{
	font-size: 0.2rem;
	font-weight: 400;
	text-align: center;
	padding-bottom: 0.2rem;
	border-bottom: 1px solid #e5e5e5;
}
.anquan .top{
	padding-top: 0.2rem;
}
.anquan .top .nei{
	padding:0.15rem 0.2rem;
}
.anquan .top .nei>div{
	display: table-cell;
    vertical-align: top;
}
.anquan .top .nei .nei_left{
	padding-right: 0.15rem;
}
.anquan .top .nei .nei_right h4{
	font-size: 0.18rem;
    color: #333;
    margin: 0;
    padding: 0;
    font-weight: 400;
    text-align: left;
}
.anquan .top .nei .nei_right p{
	font-size: 14px;
    color: #666;
    margin-top: 0.05rem;
    line-height: 1.7;
}
.anquan .top .nei .nei_right p span{
	display: block;
    color: #00a4ff;
    margin-top: 5px;
}
.anquan .bottom{
	padding: 0.3rem 0;
}
.anquan .bottom h3{
	 font-size: 14px;
    font-weight: 400;
    margin: 0 auto;
    text-align: center;
}
.anquan .bottom ul{
	padding: 0.3rem 0.3rem 0;
	box-sizing: border-box;
}
.anquan .bottom ul li {
	text-align: center;
	float: left;
	width: 25%;
	padding: 0.2rem 0.1rem;
	box-sizing: border-box;
}
.anquan .bottom ul li div{
	margin-bottom: 0.15rem;
}
.anquan .bottom ul li img{
	width: 0.42rem;
	height: 0.42rem;
}
.anquan .bottom ul li h4{
	font-size: 0.12rem;
	font-weight: 400;
	line-height: 1.5;
}
/*开始免费套餐*/
.mianfei {
	padding: 0 0.15rem;
}
.mianfei h3{
	text-align: center;
	line-height: 1.5;
	color: #333;
	font-weight: 400;
	padding-bottom: 0.15rem;
}
.mianfei .bottom .zi{
	font-size: 0.14rem;
	line-height: 1.7;
	text-align: center;
}
.mianfei .bottom .btn{
	margin-top: 0.33rem;
}
.mianfei .bottom .btn a{
	width: 100%;
	height: 45px;
    line-height: 45px;
    font-size: 16px;
    background-color: #00a4ff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    outline: 0;
    box-sizing: border-box;
    padding: 0 0.2rem;
    color: #fff;
}
/*尾部*/
footer {
	margin-top: 0.2rem;
	background-color: #000;
	color: #fff;
	background-color: #2e3033;
}
footer .top .title .shang{
	height: 0.42rem;
	line-height: 0.42rem;
	padding: 0.1rem 0.17rem 0.1rem 0.2rem;
	border-bottom: 1px solid #393c40;
} 
footer .bottom {
	text-align: center;
	margin-top: 0.2rem;
}
footer .x{
	width: 1rem;
	height: 0.28rem;
}
footer .c{
	width: 1.6rem;
	height: 1.6rem;
}
footer .bottom p{
	text-align: center;
	font-size: 0.12rem;
}
footer .top ul{
	border-bottom: 1px solid #393c40;	
}
footer .top ul li{
	padding: 0 0.15rem;
    height:0.4rem;
    font-size: 0.12rem;
    line-height: 0.4rem;
    color: #ccc;
}
footer .bottom .zixun{
	height: 0.4rem;
	line-height: 0.4rem;
	font-size: 0.12rem;
	padding: 0 0.08rem;
	width: 95%;
	margin: 0 auto;
	background-color: #00a4ff;
    color: #fff;
    display: inline-block;
    box-sizing: border-box;
    margin:0.1rem  0;
}
footer span{
	display: block;
	text-align: center;
	font-size: 12px;
    line-height: 24px;
}